html,
body {
  font-size: 16px;
}
*,
*:before,
*:after {
  box-sizing: border-box;
  margin: auto;
  padding: 0;
}
.App {
  margin: 0;
  display: block;
  font-style: normal;
  font-weight: 400;
  font-family: "Roboto", Arial, sans-serif;
  color: black;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
.column_div,
.header,
.form,
.list,
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.row_div {
  display: flex;
  flex-direction: row;
  align-items: center;
  max-width: 60%;
}
.header {
  padding: 30px 0 16px;
}
.header h1 {
  font-size: 32px;
  margin: 0 auto 15px;
}
.form {
  min-width: 390px;
  background-color: #e4d2d7;
  border-radius: 6px 6px 0 0;
}
.form + .form {
  border-radius: 0 0 6px 6px;
}
.form input,
.form textarea {
  width: 90%;
  padding: 3px 6px;
  margin: 10px auto 0;
  font-family: inherit;
  border-radius: 4px;
  border: 1px solid grey;
}
.form .datepicker {
  display: block;
  width: min-content;
  border-radius: 4px;
}
.list {
  margin: 16px auto;
}
button {
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  padding: 3px 6px;
  border-radius: 4px;
  border: 1px solid grey;
  margin: 16px auto;
  background-color: #ccc;
  text-decoration: none;
  width: 50%;
}
.disabled button {
  opacity: 0.5;
  cursor: not-allowed;
}
button:hover,
button:focus {
  background-color: #999999;
}
.row_div button {
  margin: 12px 5px;
  min-width: fit-content;
}
.card {
  width: 390px;
  border-radius: 4px;
  background-color: #e6a8b9;
  margin: 6px auto;
}
.card.late {
  background-color: #ff2929;
}
.card.done {
  background-color: #29ff4d;
}
.card h2 {
  max-width: 60%;
  font-size: 24px;
  margin: 15px auto;
  overflow: hidden;
  text-overflow: ellipsis;
}
.card p {
  max-width: 90%;
  font-size: 16px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
/*# sourceMappingURL=App.css.map */